# Pokemon Analysis

In [52]:
# Imports
import pandas as pd
import re

In [8]:
# load Data

# csv
df = pd.read_csv('datasets/pokemon_data.csv')
df.head()

# xlsx
# df_xlsx = pd.read_excel('datasets/pokemon_data.xlsx')
# df_xlsx.head()

# txt
# df_txt = pd.read_csv('datasets/pokemon_data.txt', delimiter = '\t')
# df_txt.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [18]:
# Get columns
df.columns

# Get by column
df[['Name', 'HP', 'Attack']]

# Get by row
df.iloc[1:3]

# Get by row & column
df.iloc[2, 1]

# Iteration
# for index, row in df.iterrows():
#     print(index, row['Name'])
    
# Get by condition
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [24]:
# Describing data
df.describe()

# Sorting data
df.sort_values(by = ['HP', 'Type 1'], ascending = [True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [31]:
# Manipulating data

# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df['Total'] = df.iloc[:, 4:10].sum(axis = 1)

df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [29]:
# Drop columns
df.drop(columns = ['Total'], inplace = True)
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [34]:
# Reposition columns
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:-1]]
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [42]:
# Save the dataframe

# As csv
df.to_csv('datasets/modified_pokemon_data.csv', index = False)

# Ax Xlsx
df.to_excel('datasets/modified_pokemon_data.xlsx', index = False)

# As txt
df.to_csv('datasets/modified_pokemon_data.txt', index = False, sep = '\t')

In [45]:
# Filter data
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [53]:
# Filter with regex
df.loc[~df['Name'].str.contains('Mega')]

df.loc[df['Type 1'].str.contains('fire|grass', regex = True, flags = re.I)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [60]:
# Conditional Changes
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True

In [61]:
df.loc[df['Total'] > 500, ['Type 1', 'HP']] = ['Fire', '45']
df.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Fire,Fairy,600,45,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Fire,Fairy,700,45,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Fire,Ghost,600,45,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Fire,Dark,680,45,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,45,110,120,130,90,70,6,True

In [64]:
df = pd.read_csv('datasets/pokemon_data.csv')

In [70]:
# Group by
df.groupby('Type 1').mean().sort_values(by = 'Defense', ascending = False)

df.groupby(['Type 1', 'Type 2']).count()

                  #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Bug    Electric   2     2   2       2        2        2        2      2
       Fighting   2     2   2       2        2        2        2      2
       Fire       2     2   2       2        2        2        2      2
       Flying    14    14  14      14       14       14       14     14
       Ghost      1     1   1       1        1        1        1      1
...              ..   ...  ..     ...      ...      ...      ...    ...
Water  Ice        3     3   3       3        3        3        3      3
       Poison     3     3   3       3        3        3        3      3
       Psychic    5     5   5       5        5        5        5      5
       Rock       4     4   4       4        4        4        4      4
       Steel      1     1   1       1        1        1        1      1

                 Generation  Legendary
Type 1 Type 2
Bug    Electric           2          2
       Fighting           2          2
       Fire               2          2
       Flying            14         14
       Ghost              1          1
...                     ...        ...
Water  Ice                3          3
       Poison             3          3
       Psychic            5          5
       Rock               4          4
       Steel              1          1

[136 rows x 10 columns]

In [78]:
# Working with large data (20GB and more)
for chunk in pd.read_csv('datasets/pokemon_data.csv', chunksize = 50):
    print(chunk.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False
     #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
50  45  Vileplume  Grass  Poison  75      80       85      110       90
51  46      Paras    Bug   Grass  35      70       55       45       55
52  47   Parasect    Bug   Grass  60      95       80       60       80

    Speed  Generation  Legendary
50     50           1      False
51     25           1      False
52     30           1      False
      #               Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
100  93            Haunter  Ghost  Poison  45      50       45      115
101  94             Gengar  Ghost  Poison  60      65       60      130
102  94  GengarMega Gengar  Ghost  Poison  60      65       80      170

     Sp. Def  Speed  Generation  Legendary
100       55     95           1      False
101       75    110           1      False
102       95    130           1      False
       #      Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
150  139   Omastar   Rock  Water  70      60      125      115       70
151  140    Kabuto   Rock  Water  30      80       90       55       45
152  141  Kabutops   Rock  Water  60     115      105       65       70

     Speed  Generation  Legendary
150     55           1      False
151     55           1      False
152     80           1      False
       #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
200  185  Sudowoodo   Rock     NaN  70     100      115       30       65
201  186   Politoed  Water     NaN  90      75       75       90      100
202  187     Hoppip  Grass  Flying  35      35       40       35       55

     Speed  Generation  Legendary
200     30           2      False
201     70           2      False
202     50           2      False
       #      Name  Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
250  231    Phanpy  Ground    NaN  90      60       60       40       40
251  232   Donphan  Ground    NaN  90     120      120       60       60
252  233  Porygon2  Normal    NaN  85      80       90      105       95

     Speed  Generation  Legendary
250     40           2      False
251     50           2      False
252     60           2      False
       #      Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
300  277   Swellow  Normal  Flying  60      85       60       50       50
301  278   Wingull   Water  Flying  40      30       30       55       30
302  279  Pelipper   Water  Flying  60      50      100       85       70

     Speed  Generation  Legendary
300    125           3      False
301     85           3      False
302     65           3      False
       #     Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
350  320  Wailmer  Water     NaN  130      70       35       70       35
351  321  Wailord  Water     NaN  170      90       45       90       45
352  322    Numel   Fire  Ground   60      60       40       65       45

     Speed  Generation  Legendary
350     60           3      False
351     60           3      False
352     35           3      False
       #      Name Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
400  365   Walrein    Ice  Water  110      80       90       95       90
401  366  Clamperl  Water    NaN   35      64       85       74       55
402  367   Huntail  Water    NaN   55     104      105       94       75

     Speed  Generation  Legendary
400     65           3      False
401     32           3      False
402     52           3      False
       #      Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
450  405    Luxray  Electric     NaN  80     120       79       95       79
451  406     Budew     Grass  Poison  40      30       35       50       70
452  407  Roserade     Grass  Poison  60      70       65      125      105

     Speed  Generation  Legendary
450     70           4      False
451     55           4      False
452     90           4      False
       #       Name  Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
500  450  Hippowdon  Ground    NaN  108     112      118       68       72
501  451    Skorupi  Poison    Bug   40      50       90       30       55
502  452    Drapion  Poison   Dark   70      90      110       60       75

     Speed  Generation  Legendary
500     47           4      False
501     65           4      False
502     95           4      False
       #               Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
550  492  ShayminLand Forme   Grass     NaN  100     100      100      100
551  492   ShayminSky Forme   Grass  Flying  100     103       75      120
552  493             Arceus  Normal     NaN  120     120      120      120

     Sp. Def  Speed  Generation  Legendary
550      100    100           4       True
551       75    127           4       True
552      120    120           4       True
       #      Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
600  540  Sewaddle    Bug  Grass  45      53       70       40       60
601  541  Swadloon    Bug  Grass  55      63       90       50       80
602  542  Leavanny    Bug  Grass  75     103       80       70       80

     Speed  Generation  Legendary
600     42           5      False
601     42           5      False
602     92           5      False
       #        Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
650  589  Escavalier    Bug   Steel   70     135      105       60      105
651  590     Foongus  Grass  Poison   69      55       45       55       55
652  591   Amoonguss  Grass  Poison  114      85       70       85       80

     Speed  Generation  Legendary
650     20           5      False
651     15           5      False
652     30           5      False
       #                     Name  Type 1    Type 2  HP  Attack  Defense  \
700  639                Terrakion    Rock  Fighting  91     129       90
701  640                 Virizion   Grass  Fighting  91      90       72
702  641  TornadusIncarnate Forme  Flying       NaN  79     115       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
700       72       90    108           5       True
701       90      129    108           5       True
702      125       80    111           5       True
       #                   Name Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
750  681   AegislashBlade Forme  Steel  Ghost  60     150       50      150
751  681  AegislashShield Forme  Steel  Ghost  60      50      150       50
752  682               Spritzee  Fairy    NaN  78      52       60       63

     Sp. Def  Speed  Generation  Legendary
750       50     60           6      False
751      150     60           6      False
752       65     23           6      False