In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv('datasets/minimum_wage_data.csv')
df = df.copy()
df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [25]:
gb = df.groupby('State')
gb.get_group('Alabama').set_index('Year').head()

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN

In [26]:
act_min_wage = pd.DataFrame()

for name, group in df.groupby('State'):
    
    if act_min_wage.empty:
        act_min_wage = group.set_index('Year')[['Effective.Minimum.Wage.2020.Dollars']].rename(columns = {'Effective.Minimum.Wage.2020.Dollars': name})
    else:
        act_min_wage = act_min_wage.join(group.set_index('Year')[['Effective.Minimum.Wage.2020.Dollars']].rename(columns = {'Effective.Minimum.Wage.2020.Dollars': name}))
        
act_min_wage.head(7)

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,8.55,15.61,8.55,8.55,12.26,8.55,10.41,9.29,9.29,8.55,...,8.55,8.55,8.55,8.55,10.41,8.55,11.89,8.55,9.29,8.92
1969,8.11,14.80,8.11,8.11,11.63,8.11,9.87,8.81,8.81,8.11,...,8.11,8.11,8.11,8.11,9.87,8.11,11.28,8.11,8.81,8.46
1970,8.67,14.00,8.67,8.67,11.00,8.67,10.67,8.67,10.67,8.67,...,8.67,8.67,8.67,8.67,10.67,8.67,10.67,8.67,8.67,8.67
1971,8.30,13.41,8.30,8.30,10.54,8.30,10.22,8.30,10.22,8.30,...,8.30,8.30,8.30,8.30,10.22,8.30,10.22,8.30,8.30,8.30
1972,9.90,12.99,9.90,9.90,10.21,9.90,11.45,9.90,9.90,9.90,...,9.90,9.90,9.90,9.90,9.90,9.90,9.90,9.90,9.90,9.90
1973,9.32,12.23,9.32,9.32,9.61,9.32,10.78,9.32,9.32,9.32,...,9.32,9.32,9.32,9.32,9.32,9.32,9.32,9.32,9.32,9.32
1974,8.39,11.02,8.39,8.39,8.66,8.39,9.71,8.39,8.39,8.39,...,8.39,8.39,8.39,8.39,8.39,8.39,8.39,8.39,8.39,8.39

In [27]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,...,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,7.991887,9.917736,8.435849,8.186604,9.161321,8.432453,9.212830,8.454717,9.295472,8.247358,...,7.991887,7.991887,8.211132,7.991887,9.057358,7.991887,9.402075,8.201887,8.078868,8.005472
std,0.903959,1.852213,1.227011,0.918102,1.415633,1.199128,1.106907,0.781246,1.632104,0.840023,...,0.903959,0.903959,0.988137,0.903959,1.093119,0.903959,1.524325,0.908211,0.869634,0.911853
min,6.420000,7.620000,6.610000,6.610000,6.630000,6.610000,7.040000,6.630000,6.930000,6.630000,...,6.420000,6.420000,6.420000,6.420000,7.030000,6.420000,6.630000,6.610000,6.630000,6.420000
25%,7.340000,8.590000,7.610000,7.520000,8.050000,7.610000,8.200000,8.000000,8.390000,7.630000,...,7.340000,7.340000,7.650000,7.340000,8.060000,7.340000,8.070000,7.520000,7.420000,7.340000
50%,7.900000,9.260000,8.340000,8.050000,9.130000,8.390000,9.430000,8.470000,8.980000,8.320000,...,7.900000,7.900000,8.050000,7.900000,9.240000,7.900000,9.730000,8.110000,7.910000,7.900000
75%,8.390000,10.510000,8.740000,8.700000,9.820000,8.960000,9.870000,8.890000,9.760000,8.670000,...,8.390000,8.390000,8.670000,8.390000,9.820000,8.390000,10.180000,8.740000,8.600000,8.460000
max,10.330000,15.610000,12.140000,10.330000,13.000000,12.140000,11.450000,10.330000,14.160000,10.330000,...,10.330000,10.330000,10.620000,10.330000,11.090000,10.330000,13.660000,10.330000,10.330000,10.330000

In [28]:
act_min_wage.corr().tail()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Virginia,1.000000,0.620364,0.494796,0.815863,0.281291,0.506270,0.380878,0.714823,0.183245,0.843128,...,1.000000,1.000000,0.747871,1.000000,0.372679,1.000000,0.139595,0.853105,0.944593,0.997126
Washington,0.139595,0.479309,0.715554,0.517583,0.946904,0.713452,0.861724,0.668708,0.830568,0.466186,...,0.139595,0.139595,0.369981,0.139595,0.927170,0.139595,1.000000,0.463250,0.210157,0.160216
West Virginia,0.853105,0.612712,0.816156,0.954115,0.577843,0.822146,0.624063,0.828064,0.584376,0.926586,...,0.853105,0.853105,0.772577,0.853105,0.658574,0.853105,0.463250,1.000000,0.820937,0.847964
Wisconsin,0.944593,0.697198,0.486170,0.798220,0.360438,0.503797,0.437366,0.751969,0.160520,0.880520,...,0.944593,0.944593,0.667976,0.944593,0.436678,0.944593,0.210157,0.820937,1.000000,0.953490
Wyoming,0.997126,0.658431,0.489279,0.811273,0.308809,0.500668,0.390403,0.720335,0.179437,0.837433,...,0.997126,0.997126,0.743318,0.997126,0.384596,0.997126,0.160216,0.847964,0.953490,1.000000

In [29]:
act_min_wage.replace(0, np.NaN).dropna(axis = 1).corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,1.000000,0.620364,0.494796,0.815863,0.281291,0.506270,0.380878,0.714823,0.183245,0.843128,...,1.000000,1.000000,0.747871,1.000000,0.372679,1.000000,0.139595,0.853105,0.944593,0.997126
Alaska,0.620364,1.000000,0.441018,0.619306,0.668420,0.444483,0.646909,0.646148,0.332957,0.589012,...,0.620364,0.620364,0.501587,0.620364,0.615675,0.620364,0.479309,0.612712,0.697198,0.658431
Arizona,0.494796,0.441018,1.000000,0.885807,0.732276,0.994981,0.688033,0.717137,0.820889,0.755036,...,0.494796,0.494796,0.742403,0.494796,0.752045,0.494796,0.715554,0.816156,0.486170,0.489279
Arkansas,0.815863,0.619306,0.885807,1.000000,0.619974,0.892103,0.636162,0.831495,0.617050,0.904296,...,0.815863,0.815863,0.863931,0.815863,0.662473,0.815863,0.517583,0.954115,0.798220,0.811273
California,0.281291,0.668420,0.732276,0.619974,1.000000,0.738742,0.895479,0.736683,0.796175,0.547788,...,0.281291,0.281291,0.456079,0.281291,0.926371,0.281291,0.946904,0.577843,0.360438,0.308809